menu "XyloMidi Configuration"

    menu "ADC and MUX"
        
        menu "MUX"
            menu "MUX0"
            config MUX0_PIN_S0
                int "MUX0_PIN_S0"
                default 10
            config MUX0_PIN_S1
                int "MUX0_PIN_S1"
                default 11
            config MUX0_PIN_S2
                int "MUX0_PIN_S2"
                default 12
            config MUX0_PIN_S3
                int "MUX0_PIN_S3"
                default 13

            endmenu #MUX0
        endmenu # MUX menu

        menu "ADC"
            config XMIDI_MUX_CHANNEL_0
                int "XMIDI_MUX_CHAN_0"
                default 3
                help
                    ADC channel used by MUX0
            config XMIDI_MUX_CHANNEL_1
                int "XMIDI_MUX_CHAN_1"
                default 4
                help
                    ADC channel used by MUX2
            config XMIDI_MUX_CHANNEL_2
                int "XMIDI_MUX_CHAN_2"
                default 4
                help
                    ADC channel used by MUX2
        endmenu # ADC menu
    endmenu # ADC and MUX menu

endmenu